<form class="betting-form">
  <h1>yeah <%- data.name %>, bet those ponies</h1>
    
  <div class="horses">
    <% _.each(data.horses, function (horse) { %>
      <div class="horse" data-name="<%- horse.slug %>">
        <h2><%- horse.name %></h2>
      
        <div class="horse-meta">
          <h4 class="horse-ranking">season ranking: <%- horse.rank %></h4>
          <h4 class="horse-points">season points: <%- horse.points %></h4>
        </div>
    
        <img src="<%- horse.img %>">
    
        <div>
          <button class="bet-button increase">+ $1</button>
          <button class="bet-button decrease">- $1</button>
        </div>
    
        <h1 class="your-bet"><span class="bet-amount">$0</span></h1>
    
        <input type="hidden" name="<%- horse.slug %>" value="0">
      </div>
    <% }); %>
  </div>
  
  <hr>
  
  <h1>cough it up: <span class="total-bet">$0</span></h1>
    
  <input type="hidden" name="bettor-name" value="<%- data.name %>">
  <input type="hidden" name="bettor-total" value="0">
  
  <button class="finish-betting" type="submit">done!</button>
</form>